* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }

  
  header {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .container {
    width: 100%;
    margin: 0px auto;
    padding: 0px 30px;
    max-width:1170px;
  }
  
  .logo {
    width: 100px;
    height: 40px;
    margin: 15px 0px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    float: left;
    padding: 0px 25px;
    font-size: 20px;
    display: block;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header-right a:hover {
    background-color: #7C8C5A;
    color: white;
    transition:all 0.5s
  }
  
  .home {
    font-weight: bold;
    color: #7C8C5A;
  }
  
  .menu-icon{
    color: black;
    float: left;
    padding:20px 0px;
    display:none;
    font-size:25px
  }

  .top-wrapper{
    background-image:url(../img/background.png);
    background-size:cover;
    height:500px;
    text-align:center;
    padding:100px 0px;
  }

  .top-wrapper h1{
    color:#EAEAEA;
    letter-spacing:3px;
    font-size:45px;
    font-family:'Playfair Display', serif;
    margin-bottom:10px;

  }

  .shp-btn{
    padding-top:50px;
  }

  .btn{
    color:#EAEAEA;
    font-family:'Montserrat', serif;
    display:inline-block;
    background-color:#7C8C5A;
    border-radius:10px;
    padding:15px 28px;
    opacity:0.8;
  }

  .btn:hover{
    opacity:1;
  }


  .fas{
    color:#EAEAEA;
    margin-left:10px;
  }


  .about-me{
    height:550px;
  }


  .about-me h1{
    text-align: center;
    font-size:35px;
    font-family:'Playfair Display', serif;
    margin:35px 0px;
    color:#232323;
  }

  .about-me img{
    width:300px;
    height:400px;
  }

  .photo{
    float:left;
  }


  .about-me p{
    font-family:'Montserrat', serif;
    font-weight:400;
    font-size:25px;
    padding-left:50%;
    padding-top:80px;
    line-height:40px;
  }

  .shopping{
    height:545px;
    background-color:#7C8C5A;
    text-align:center;
  }

  .heading h2{
    font-size:35px;
    color:#EAEAEA;
    font-family:'Playfair Display', serif;
    padding-top:30px;
    padding-bottom:10px;
    font-weight:normal;
  }

  .content h3{
    font-size:20px;
  }

  .content{
    float:left;
    width:25%;
    
  }

  .content-item{
    height:520px;
    width:260px;
    background-color:#BEC7B6;
    border-radius:10px;
  }

  .contents{
    font-family:'Montserrat', serif;
  }

  .content img{
    height:376px;
    width:260px;
  }

  .content p{
    font-size:15px;
    font-weight:bold;
  }

  .content a{
    font-size:15px;
    display:inline-block;
    color:#EAEAEA;
    font-weight:bold;
    background-color:#7C8C5A;
    border-radius:10px;
    padding:5px 25px;
    opacity:0.8;
    box-shadow: 0 3px #2F4D29;
  }

  .content a:active{
    top: 3px;px;
    box-shadow:none;
    position:relative;
  }

  .content a:hover{
    opacity:1;
  }

  .rupiah{
    color:#7C8C5A;
  }

  .square{
    height:520px;
    width:260px;
  }

  .hidden{
    background-color:white;
    height: 200px;
  }

  footer{
    background-color: #FFFFFF;
    width: 100%;
    padding:57px 0px;
    height:150px;
    border-top: 1px solid #7C8C5A;
  }
  
  
  footer img{
    width: 100px;
    height: 35px;
    float:left
  
  }
  
  footer p{
    float:right;
    font-size:20px;
    display:block;
    font-family:'Montserrat', sans-serif;
    font-weight:100;
  }


  
/* responsive design for smartphone */

@media all and (max-width: 670px){

    .header-right{
      display:none;
    }
    
    .menu-icon{
      display:block;
      padding-left:15px;
    }

    footer img{
        display:none;
      }
      
    footer{
        text-align:center;
      }
      
  }
